.container {
  min-height: 100vh;
  background-color: var(--background-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black50);
  z-index: 3;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.loadingCircle,
.loadingCircleInter {
  stroke-dasharray: 132;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading ease-in-out infinite 1s;
}

.loadingCircleInter {
  transform-origin: center;
  transform: rotate(90deg);
  stroke-dasharray: 122;
  animation: loading-inter cubic-bezier(0, 0, 0, 0) infinite 0.5s;
  margin-left: 3px;
  margin-top: 3px;
}

.loading p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes loading {
  to {
    stroke-dashoffset: -264;
  }
}

@keyframes loading-inter {
  to {
    stroke-dashoffset: -244;
  }
}

.authContainer {
  background-color: white;
  padding: 2rem;
  width: min(90%, 600px, fit-content);
  box-shadow: 0 0 15px var(--black25);
  border-radius: 15px;
  gap: 1rem;
  display: flex;
  align-items: center;
}

@media (max-width: 550px) {
  .authContainer {
    flex-direction: column;
  }

  .authContainer.invalidKey {
    padding-bottom: 4rem;
  }
}

.authHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  filter: contrast(0.7);
}

.authHeader .ifLogo {
  max-height: 5rem;
}

.authHeader .text {
  opacity: 0.8;
}

.authHeader .ifName {
  font-size: 1.2rem;
}

.authForm {
  position: relative;
}

.authForm .inputKeyContainer {
  display: flex;
  align-items: center;
  border: 2px solid var(--alive-blue);
  border-radius: 5px;
  position: relative;
  height: 3rem;
  width: 100%;
}

.authForm .inputKeyContainer.invalidKey {
  border-color: var(--if-red);
}

.authForm .inputKey {
  display: block;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  z-index: 1;
  background-color: transparent;
}

.authForm .inputKey:focus ~ .inputPlaceholder,
.authForm .inputKey.inputed ~ .inputPlaceholder {
  font-size: 0.8rem;
  transform: translateY(-1.5rem);
  padding: 0 0.2rem;
}

.authForm .inputKeyContainer .inputPlaceholder {
  position: absolute;
  left: 0.5rem;
  font-size: 0.9rem;
  z-index: 0;
  transition: all 0.2s;
  background: white;
  color: var(--black80);
}

.authForm .inputKeyContainer button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
}

.authForm .inputKeyContainer button:nth-child(3) {
  outline-color: var(--alive-blue);
  position: absolute;
  right: 3rem;
  background-color: white;
  z-index: 2;
}

.authForm .inputKeyContainer button:nth-child(3) img {
  opacity: 0.8;
  height: 50%;
}

.authForm .inputKeyContainer .authButton {
  background-color: var(--alive-blue);
}

.authForm .inputKeyContainer.invalidKey .authButton {
  background-color: var(--if-red);
}

.authForm .inputKeyContainer .arrowRightSvg {
  height: 60%;
}

.authForm .inputKeyContainer .arrowRightSvg path {
  fill: white;
}

.authForm .invalidKeyText {
  position: absolute;
  color: var(--if-red);
  font-size: 0.8rem;
  top: 3.5rem;
  animation: invalidKeyText 0.2s;
}

@keyframes invalidKeyText {
  50% {
    margin-left: 1rem;
  }
}
