:root {
  --background-green: #dbe4d8;
  --background: #f5f5f5;
  --light-gray: #c9c9c9;
  --black10: #0000001a;
  --black25: #00000040;
  --black50: #00000080;
  --black80: #000000cc;
  --alive-blue: #0c75ff;
  --alive-blue25: #0c75ff40;
  --alive-blue50: #0c75ff80;
  --alive-green: #00c721;
  --if-green: #71c837;
  --if-red: #d40000;
}

body {
  font: 400 1rem "Roboto", sans-serif;
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@media (max-width: 1440px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 81.25%;
  }
}

input,
textarea,
button {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}
